/* fix TinyMCE iframe css */
body#mceSpanFonts {
background: #fff;
color: #000;
font-size: 12px;
font-style: normal;
font-weight: normal;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height: 18px;
}
#mceSpanFonts td {
font-size: 11px;
line-height: 16px;
}
ul, ol {
margin : 10px 0 10px 20px;
}
ul li {
list-style : disc;
}
ol li {
list-style : decimal;
}
ul li, ol li {
margin : 0.5em 0;
}
#mceSpanFonts p {
text-align: none !important;
}
